@page "/"
@inject NavigationManager NavManager
@inject FutureMeClient Http 

<div style="background: #7467EF; color: #ffffff">
    <MudContainer MaxWidth="MaxWidth.Large">
        <div class="d-flex justify-content-center">
            <div style="margin-top: 2ch;">
                <MudText Typo="Typo.h3">Viết một lá thư tới tương lai</MudText>
                <MudText Typo="Typo.body1" style="max-width: 72ch; margin-top: 4ch;">
                    "I love this. I've sent myself 5 letters so far and every year it's a surprise. Because I forget so easily. It turns into such a deep reflective process, that I usually weep and laugh while I write."
                </MudText>
                <div style="display: flex; margin-top: 1ch;">
                    <MudText Typo="Typo.subtitle1">-</MudText>
                    <div style="margin-left: 0.3ch;">
                        <MudText Typo="Typo.subtitle1"><i>Magaret</i></MudText>
                        <MudText Typo="Typo.subtitle2"><i>Member since 2011</i></MudText>
                    </div>
                </div>
                <MudText Style="margin-top: 2.5ch;" Typo="Typo.body1" Align="Align.Center"><b>HƠN 10 TRIỆU BỨC THƯ ĐƯỢC GỬI ĐẾN TƯƠNG LAI TỪ 2002</b></MudText>
            </div>
        </div>
        <div style="max-width: 50ch; margin: 5ch auto;">
            <MudDivider DividerType="DividerType.Middle" />
        </div>
        <div class="d-flex justify-content-center">
            <div>
                <div class="d-flex" style="margin-left: 3.5ch">
                    <div class="d-flex align-items-center">
                        <MudIcon Icon="@Icons.Material.Filled.Edit" Style="margin-right: 0.5ch; color: yellow" />
                    </div>
                    <div class="d-flex align-items-center">
                        <MudText Typo="Typo.h6"><MudLink Color="Color.Warning" Typo="Typo.h6" Href="letters">Viết</MudLink> một bức thư tới bản thân trong tương lai!</MudText>
                    </div>
                </div>
                <div class="d-flex" style="margin-top: 5ch;">
                    <div class="d-flex align-items-center">
                        <MudIcon Icon="@Icons.Material.Filled.Book" Style="margin-right: 0.5ch;" />
                    </div>
                    <div class="d-flex align-items-center">
                        <MudText Typo="Typo.h6"><MudLink Color="Color.Secondary" Typo="Typo.h6" Href="read-letters">Đọc</MudLink> những bức thư tương lai công khai của mọi người</MudText>
                    </div>
                </div>
                <div class="d-flex" style="margin-left: 3.5ch; margin-top: 5ch;">
                    <div class="d-flex align-items-center">
                        <MudIcon Icon="@Icons.Material.Filled.Lightbulb" Style="margin-right: 0.5ch; color: yellow" />
                    </div>
                    <div class="d-flex align-items-center">
                        <MudText Typo="Typo.h6"><MudLink Color="Color.Warning" Typo="Typo.h6" Href="#">Tìm hiểu</MudLink> thêm về FutureMe</MudText>
                    </div>
                </div>
                <div class="d-flex" style="margin-top: 5ch;">
                    <div class="d-flex align-items-center">
                        <MudIcon Icon="@Icons.Material.Filled.Favorite" Style="margin-right: 0.5ch;" />
                    </div>
                    <div class="d-flex align-items-center">
                        <MudText Typo="Typo.h6"><MudLink Color="Color.Secondary" Typo="Typo.h6" Href="#">Ủng hộ</MudLink> FutureMe!</MudText>
                    </div>
                </div>
            </div>
        </div>
        <div style="max-width: 50ch; margin: 5ch auto;">
            <MudDivider DividerType="DividerType.Middle" />
        </div>
        <div>
            @for (int i = 0; i < feedbacks.Count; i++)
            {
                <div style="margin: 3ch 0;">
                    <FeedbackCard @bind-FeedbackItem="feedbacks[i]" />
                </div>
            }
            <div class="d-flex justify-content-center">
                <MudButton OnClick="@(() => { NavManager.NavigateTo("feedbacks"); })" Style="background: #ffffff; color: #7467EF; margin: 0 auto;">Đọc thêm đánh giá về FutureMe</MudButton>
            </div>
        </div>
        <div style="max-width: 50ch; margin: 5ch auto;">
            <MudDivider DividerType="DividerType.Middle" />
        </div>
        <div style="padding-bottom: 5ch;">
            <div class="d-flex justify-content-center">
                <MudTooltip Text="Viết thư">
                    <MudIconButton @onclick="@(() => { NavManager.NavigateTo("letters"); })" Icon="@Icons.Material.Filled.Edit" Style="margin-right: 2ch; color: white" />
                </MudTooltip>
                <MudTooltip Text="Đọc thư">
                    <MudIconButton @onclick="@(() => { NavManager.NavigateTo("read-letters"); })" Icon="@Icons.Material.Filled.LocalLibrary" Style="color: white;" />
                </MudTooltip>
            </div>
            <div class="d-flex justify-content-center mt-4">
                <a href="users/false" style="text-decoration-color: white;"><MudText Style="color: white;">Đăng ký / Đăng nhập</MudText></a>
            </div>
        </div>
    </MudContainer>
    <footer>
        <ul class="copyright">
            <li>
                <a rel="noopener" href="https://dotnet.microsoft.com/learn/aspnet/what-is-aspnet-core" target="_blank">Powered by .NET 5</a>
            </li>
            <li>
                <a rel="noopener" href="https://hieu-lee.github.io/portfolio/" target="_blank">Contact hieu-lee</a>
            </li>
            <li>
                <a rel="noopener" href="https://malicexx.github.io/" target="_blank">Contact MaliceXX</a>
            </li>
            <li style="color: black;">
                © hieu-lee & MaliceXX
            </li>
        </ul>
    </footer>
</div>

@code {
    List<Feedback> feedbacks = new();

    protected override async Task OnInitializedAsync()
    {
        feedbacks = await Http.LetterAndFeedbackClient.GetFromJsonAsync<List<Feedback>>("api/Feedback/get-top-feedbacks");
    }
}
