@page "/my-letters" 

<MudContainer MaxWidth="MaxWidth.Large">
    <div style="margin: 10ch auto; max-width: 50ch;">
        <div>
            <div class="d-flex">
                <MudIcon Style="margin-right: 1ch" Color="Color.Primary" Icon="@Icons.Material.Filled.AccessTime" />
                <MudText>Đang du hành thời gian (@TravelingLetters.Count thư)</MudText>
            </div>
            @if (TravelingLetters.Count > 0)
            {
                <div style="background: #F5F4FD; padding: 2ch; border-radius: 5px; margin: 2ch 0">
                    <MudText Color="Color.Primary">Bạn có @TravelingLetters.Count bức thư đã gửi tới tương lai và đang chờ đón bạn</MudText>
                    <MudText Color="Color.Primary" Typo="Typo.caption">Chúng tôi giấu thông tin về những bức thư trong tương lai để bảo toàn sự bất ngờ cho bạn. Nếu bạn muốn thay đổi địa chỉ email hoặc xóa 1 bức thư, <span style="text-decoration: underline; cursor: pointer;">hiển thị những bức thư tương lai</span></MudText>
                </div>
            }
            else
            {
                <div style="background: #F5F4FD; padding: 2ch; border-radius: 5px; margin: 2ch 0">
                    <MudText Color="Color.Primary">Bạn không có bức thư nào đang du hành. Hãy đi viết một bức nhé!</MudText>
                </div>
            }
        </div>
        <div>
            <div class="d-flex">
                <MudIcon Style="margin-right: 1ch" Color="Color.Success" Icon="@Icons.Material.Filled.Check" />
                <MudText>Đã nhận (@DeliveredLetters.Count thư)</MudText>
            </div>
            @if (DeliveredLetters.Count == 0)
            {
                <div style="background: #fafafa; padding: 2ch; border-radius: 5px; margin: 2ch 0">
                    <MudText>Bạn chưa nhận được bức thư nào. Nhưng khi những bức thư đến, bạn sẽ thấy chúng ở đây.</MudText>
                </div>
            }
        </div>
    </div>
</MudContainer>

@code {
    HashSet<Letter> TravelingLetters = new();
    HashSet<Letter> DeliveredLetters = new();
}
