@page "/read-letter/{Id}"
@inject FutureMeClient Http
@inject SessionData Session
@inject Blazored.LocalStorage.ILocalStorageService localStorage

@if (!DataLoading)
{
    <MudContainer MaxWidth="MaxWidth.Large">
        <MudCard Style="padding: 5ch; margin: 5ch auto;">
            <MudText Typo="Typo.subtitle2">THỜI GIAN DU HÀNH - @TravelledTime.Days NGÀY</MudText>
            <div class="content">
                <h4>@MyLetter.Title</h4>
                @if (MyLetter.Privacy == PrivacyMode.Public)
                {
                    <h5>
                        @MyLetter.OwnerUsername
                    </h5>
                }
                <MudDivider DividerType="DividerType.FullWidth" />
                <MudText Style="margin: 2ch 0; white-space: pre-line">
                    @MyLetter.Content
                </MudText>
            </div>
            <MudText Style="color: #999" Typo="Typo.caption">@MyLetter.DateCreate.ToLongDateString() &#8594; @MyLetter.DeliverDate.Value.ToLongDateString() • @MyLetter.WordNum word(s)</MudText>
            <div class="d-flex justify-content-end">
                <div>
                    <MudTooltip Text="Like">
                        <MudIconButton @onclick="LikesChanged" Icon="@LikeIcon" />
                    </MudTooltip>
                    @MyLetter.Likes
                </div>
                <div style="margin-left: 2ch;">
                    <MudTooltip Text="Report">
                        <MudIconButton Icon="@FlagIcon" @onclick="() => { Flagged = !Flagged; }" />
                    </MudTooltip>
                </div>
            </div>
        </MudCard>
    </MudContainer>
}
else
{
    <MudContainer MaxWidth="MaxWidth.Large">
        <MudCard Style="padding: 5ch; margin: 5ch auto;">
            <MudSkeleton Width="40%" Height="60px;" />
            <MudSkeleton Width="100%" />
            <MudSkeleton Width="100%" />
            <MudSkeleton Width="100%" />
            <MudSkeleton Width="100%" />
        </MudCard>
    </MudContainer>
}


@code {
    [Parameter]
    public string Id { get; set; }
    bool DataLoading = true;
    Letter MyLetter = new();
    bool Flagged = false;
    bool Liked = false;
    TimeSpan TravelledTime;
    string LikeIcon => Liked ? Icons.Material.Filled.Favorite : Icons.Material.Filled.FavoriteBorder;
    string FlagIcon => Flagged ? Icons.Material.Filled.Flag : Icons.Material.Filled.OutlinedFlag;

    protected override async Task OnInitializedAsync()
    {
        MyLetter = await Http.LetterAndFeedbackClient.GetFromJsonAsync<Letter>($"api/Letter/get-letter-from-id/{Id}");
        if (!Session.Logged)
        {
            Session.Key = await localStorage.GetItemAsync<string>(SessionData.SessionKey);
            if (!string.IsNullOrWhiteSpace(Session.Key))
            {
                Session.MyAccount = await Http.UserClient.GetFromJsonAsync<Account>($"api/Accounts/my-account/{Session.Key}");
            }
        }
        if (Session.Logged)
        {
            Liked = await Http.UserClient.GetFromJsonAsync<bool>($"api/Likes/get-like-state/{Session.MyAccount.Email}/{MyLetter.Id}");
        }
        TravelledTime = MyLetter.DeliverDate.Value - MyLetter.DateCreate;
        DataLoading = false;
    }

    private async Task LikesChanged()
    {
        Liked = !Liked;
        if (Liked)
        {
            MyLetter.Likes++;
            if (Session.Logged)
            {
                var task1 = Http.LetterAndFeedbackClient.PutAsJsonAsync("api/Letter/letter-increment-likes", MyLetter);
                var task2 = Http.UserClient.PutAsJsonAsync<string>($"api/Likes/add-like-state/{MyLetter.Id}", Session.MyAccount.Email);
                await Task.WhenAll(task1, task2);
            }
            else
            {
                await Http.LetterAndFeedbackClient.PutAsJsonAsync("api/Letter/letter-increment-likes", MyLetter);
            }
        }
        else
        {
            MyLetter.Likes--;
            if (Session.Logged)
            {
                var task1 = Http.LetterAndFeedbackClient.PutAsJsonAsync("api/Letter/letter-decrement-likes", MyLetter);
                var task2 = Http.UserClient.PutAsJsonAsync<string>($"api/Likes/delete-like-state/{MyLetter.Id}", Session.MyAccount.Email);
                await Task.WhenAll(task1, task2);
            }
            else
            {
                await Http.LetterAndFeedbackClient.PutAsJsonAsync("api/Letter/letter-decrement-likes", MyLetter);
            }
        }
    }
}
