<MudNavMenu Class="mudblazor-navmenu">
    <div class="docs-nav-fader"></div>
    <MudNavLink Icon="@Icons.Material.Filled.Home" Href="">Trang chủ</MudNavLink>
    <MudNavLink Icon="@Icons.Material.Filled.Edit" Href="letters">Viết thư</MudNavLink>
    <MudNavLink Icon="@Icons.Material.Filled.Book" Href="read-letters">Đọc thư</MudNavLink>
    <MudNavLink Icon="@Icons.Material.Filled.Login" Href="users/false">Đăng nhập</MudNavLink>
    <MudNavGroup Icon="@Icons.Material.Filled.People" Title="Tài khoản" Expanded="false" ExpandIcon="@Icons.Material.Filled.KeyboardArrowDown">
        <MudNavLink Href="my-letters" Icon="@Icons.Material.Filled.Mail">Thư của tôi</MudNavLink>
        <MudNavLink Href="add-feedback" Icon="@Icons.Material.Filled.StarRate">Gửi phản hồi</MudNavLink>
    </MudNavGroup>
</MudNavMenu>



@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}